::-webkit-scrollbar,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-resizer,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
::-webkit-scrollbar {
    @apply w-4 h-4;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    @apply bg-gray-300 border-solid border-4px border-transparent dark:(bg-gray-500) rounded-xl;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400 dark:(bg-gray-50);
}

html,
body,
#app {
  @apply h-full overflow-hidden;
}
